{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Attack User</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-md-6">
                <h2>Your Pokémon</h2>
                <ul class="list-group">
                    {% for pokemon in user.pokemon_collection %}
                        <li class="list-group-item">
                            <img src="{{ pokemon.front_shiny }}" alt="{{ pokemon.pokemon_name }}" class="img-thumbnail">
                            {{ pokemon.pokemon_name }} ({{ pokemon.ability_name }})
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Opponent's Pokémon</h2>
                <ul class="list-group">
                    {% for pokemon in opponent.pokemon_collection %}
                        <li class="list-group-item">
                            <img src="{{ pokemon.front_shiny }}" alt="{{ pokemon.pokemon_name }}" class="img-thumbnail">
                            {{ pokemon.pokemon_name }} ({{ pokemon.ability_name }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Battle Result</h2>
                <p>
                    Winner: {{ winner.username }}<br>
                    Your Wins: {{ user.wins }} | Your Losses: {{ user.losses }}<br>
                    Opponent Wins: {{ opponent.wins }} | Opponent Losses: {{ opponent.losses }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
